.modal-title {
  color: #33a2e5;
  font-weight: bold;
}

.editProfileForm {
  height: 70vh !important;
}

.modal-header {
  background-color: #fff;
  border-bottom: 1px solid #33a2e5;
}

.closebutton {
  background-color: #6c757d;
  color: #fff;
}
.saveBtn {
  background-color: #f898a4;
  color: #fff;
}
.modal-footer {
  border-top: 1px solid #33a2e5;
}
.caption-input {
  border: 1px solid #ced4da;
  color: #33a2e5;
}
.age-input {
  border: 1px solid #ced4da;
  color: #33a2e5;
}
.selecter {
  border: 1px solid #ced4da;
  color: #33a2e5;
}
.date-input {
  border: 1px solid #ced4da;
  color: #33a2e5;
}
